<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<title>chat app</title>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="logo">
				<h1>Chat App</h1>
			</div>
			<div class='username'>
				<p>{{user}}</p>
				<ul>
					<li><a href='{% url "registr" %}'>registr</a></li>
					<li><a href='{% url "login" %}'>login</a></li>
					<li><a href='{% url "logout" %}'>logout</a></li>
				</ul>
			</div>
		</header>
        {%block content%}{%endblock%}
		
</body>
</html>